<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=ENYCEONE\SQLEXPRESS; Initial Catalog=Asterisk_DB; Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Asterisk_DBConnectionString" connectionString="Data Source=ENYCEONE\SQLEXPRESS;Initial Catalog=Asterisk_DB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />

    <authentication mode="Forms">
      <forms loginUrl="Login_page.aspx" defaultUrl="LoggedUserSite/User_page.aspx">
      </forms>
    </authentication>

    <authorization>
      <allow users="*"/>
    </authorization>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DBCS"
             requiresQuestionAndAnswer="false"
             minRequiredPasswordLength="5"
             minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider"
          type="System.Web.Profile.SqlProfileProvider"
          connectionStringName="DBCS"
          applicationName="AsteriskRoutingSystem"
          description="SqlProfileProvider for AsteriskRoutingSystem" />
      </providers>
    </profile>
  </system.web>
</configuration>
